
.form-control {
    &-input {
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        font-size: 18px;
        color: $primaryTextColor;
        background: $secondaryColor;
        padding-left: 5px;
    }
}

.search-control {
    border: 1px solid $primaryTextColor;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    outline: none;
    width: inherit;
    background: $primaryTextColor;
    color: $secondaryTextColor;
    text-indent: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.3s ease;

    // If the control is focused or if it has a value
    // in the sudo-has-value attribute then show it
    // in a different state.
    &:focus, &[sudo-has-value=true] {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 24px;
        border-radius: 0;
        text-indent: 30px;
    }
}

.btn {
    border: none;
    height: 40px;
    font-size: 18px;
    width: 100px;

    &-primary {
        background: $primaryColor;
        color: $primaryTextColor;
    }
}

// Spinner
$spinnerBorderPixelWidth: 5px;
$spinnerBorderType: solid;
$spinnerWidthAndHeight: 50px;
$spinnerAnimationDuration: 1.5s;

.spinner {
    border: $spinnerBorderPixelWidth $spinnerBorderType #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    width: $spinnerWidthAndHeight;
    height: $spinnerWidthAndHeight;
    animation: spin $spinnerAnimationDuration linear infinite;

    &-primary {
        @extend .spinner;
        border: $spinnerBorderPixelWidth $spinnerBorderType $primaryColor; 
        border-left-color: transparent;
        border-right-color: transparent;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}