@import 'colors';
@import 'variables';
@import 'layout';
@import 'controls';

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    color: $primaryTextColor;
    background: $secondaryColor;
    height: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-thumb {
  background-color: lighten($secondaryColor, 10%);
  outline: 1px solid lighten($secondaryColor, 5%);
}

.waiting-for-connection-watermark {
    color: $primaryTextColor;
    font-size: 24px;
}

.conversation-list-column {
    border-right: solid 1px $primaryColor;
}

.start-new-conversation-list-item {
    color: $primaryTextColor;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

// Creates a + button
.start-new-conversation-button {
    position: relative;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

    &::after {
        content: " ";
        position: absolute;
        display: block;
        background-color: $primaryColor;
        height: 6px;
        transform: translateY(-50%);
        top: 50%;
        left: 10px;
        right: 10px;
    }

    &:hover::after {
        background-color: $primaryTextColor;
    }

    &::before {
        content: " ";
        position: absolute;
        display: block;
        background-color: $primaryColor;
        width: 6px;
        transform: translateX(-50%);
        left: 50%;
        top: 10px;
        bottom: 10px;
    }

    &:hover::before {
        background-color: $primaryTextColor;
    }
}

.conversation-list-item {
    background: $primaryColor;
    color: $primaryTextColor;
    border-radius: 50%;
    border: solid 1px $primaryColor;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.conversation-list-button {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    color: $primaryTextColor;
    border: none;
    border-radius: 50%;
    outline: none;
}

.conversation-list-no-conversations-watermark {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    color: $primaryTextColor;
    font-size: 24px;
}

.conversation {
    display: flex;
    flex-direction: column;
}

.conversation-header {
    flex: 0 0 auto;
    background: $primaryColor;
    font-size: 24px;

    box-shadow: 0 8px 6px -6px #222;
    z-index: 1000;
}

.conversation-content {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

.conversation-no-messages-watermark {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    color: $primaryTextColor;
    font-size: 24px;
}

.conversation-footer {
    flex: 0 0 auto;
    background: $secondaryColor;
    border-top: solid 1px $primaryColor;
    box-shadow: 0 -8px 6px -6px #222;
    z-index: 999;
}

.message-bubble {
    max-width: 70%;

    &-time-user {
        text-align: right;
    }

    &-user {
        background: lighten($secondaryColor, 10%);
        border-radius: 10px;
    }

    &-time-other {
        text-align: left;
    }

    &-other {
        background: $primaryColor;
        border-radius: 10px;
    }
}

.contacts-header {
    flex: 0 0 auto;
    background: $primaryColor;
    font-size: 24px;

    //box-shadow: 0 8px 6px -6px #222;
    //z-index: 1000;
}